.footerParentDiv {
 
  width: 98vw;
}
.footerParentDiv .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  padding: 16px;
  color: rgb(205, 207, 209);
}


.footerParentDiv .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #01282c;
  color: whitesmoke;
}

.footerParentDiv .footer p {
  margin: 0;
}
